.right-bar{width:100%; position:absolute; left:0; top:65px; padding-left:220px; box-sizing:border-box;}
.commin-soon{text-align:center;}
.commin-soon img{text-align:center;}


.commin-soon {
    padding-top: 113px;
    text-align: center;
}