.login-container{width:100%; background:#eff1f4; height:100%; display:table; position:relative; float:left}
.login-form{width:100%; max-width:100%; margin:0 auto; display:table-cell; vertical-align:middle;}

.login-form .form{width:500px; background:#fff; margin:0 auto; padding:0px 50px; box-sizing:border-box;}
.login-form .form .login-box{width:500px; float:left;}
.login-form .form .login-box h4{ margin-top:0px; font:18px/26px 'MyriadPro-Bold';}
.login-form .form .login-box form {position:relative;}
.login-form .form .login-box form fieldset{padding:65px 40px; position:relative; box-sizing:border-box; border:none; background:#fff; border-radius:3px;}
.login-form .form .login-box form fieldset:before{ background:url(../images/logo-admin.png) center center no-repeat;
 width:97px; height:100px; left:49%; margin-left:-50px;
  display:block; content:""; position:absolute; top:-50px;}
.login-form .form .login-box form label{width:100%; float:left; position:relative;}
.login-form .form .login-box form label figure{position:absolute; right:15px; top:20px; cursor:pointer;}
.login-form .form .login-box form label input{width:100%; margin-bottom:15px; border:1px solid #dddee2; color: #686868; border-radius:3px; height:50px; line-height:50px; padding:0 10px;}
.login-form .form .login-box form fieldset button[type="submit"]{float:left; cursor:pointer; background:#0056b8; border-radius:5px; text-decoration:none; color:#fff; padding:19px 55px; border:none; text-transform:uppercase; box-sizing:border-box;} 

.forget-sec{float:right; width:auto; margin-top:10px;}
.forget-sec a{color:#0056b8; font:13px/20px 'MyriadProRegular';}
.forget-sec p{ color:#818f9f; font:11px/15px 'MyriadProRegular'; text-align:center}
.parsley-errors-list{display:none;}
.login-form .form .login-box form .parsley-error{ border:1px solid #f00; }

.forgot-error-message {
    bottom: 20px;
    color: red;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 99; font:16px/22px 'MyriadProRegular';
}
.success-forgot-pasword {
    bottom: 40px;
    color: green;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 99; font:16px/22px 'MyriadProRegular';
}

