.data-table-dash { clear: both;  float: left;  width:96%; margin:25px; position:relative;}
.right-bar{width:100%; position:absolute; left:0; top:65px; padding-left:220px; box-sizing:border-box;}.top-head{width:100%; float:left; border-bottom:1px solid #e5e5e5;}
.top-head h1{display:inline-block; padding-left:30px; color:#394347; font:20px/55px 'MyriadPro-Bold'; text-transform:capitalize; float:left;}
.top-head a.print{float:right; margin-right:35px; color:#b1b7bb; font:13px/55px 'MyriadProRegular'; text-transform:uppercase;}
.top-head a.print img{vertical-align:middle; margin-right:6px;}
.top-head .add-user-btn.create_quote {margin-right: 17px;}
.top-head a.add-more{float:right; margin-right:35px; color:#000000; font:13px/55px 'MyriadProRegular'; text-transform:uppercase;font-weight:bold;}
.dataTables_info{font:font:14px/14px "MyriadProRegular"; color: #4b4c58;}
.second{width:65%; float:left; position:relative;margin-right:2%;}
.first{width:30%; float:left; position:relative;margin-right:2%;}
 .md-content label{color:#435158  !important; font:13px/21px 'MyriadProRegular' !important; padding-bottom:5px; float:left; width:100%;}
 .md-content input{ width:100%; height:38px; border-radius:3px; border:1px solid #bebfc3  !important; padding:0 10px;color:#b1b7bb; font: 13px/13px "MyriadProRegular" !important;}
 .md-content select{ width:100%; height:38px; border-radius:3px; border:1px solid #bebfc3  !important; padding:0 10px;}
.md-content h2 {
    color: #293337 !important;
    font: 16px/30px "MyriadPro-Bold" !important;
}
.search-main a.print:hover {color: #0056b8;}
.row{float:left; width:100%; margin:15px 0px 0px 0px !important;position:relative;}
.form-group{width:100%; float:left; padding-bottom:14px; margin-bottom:15px; -webkit-box-shadow: 0 8px 6px -6px #ccc;  -moz-box-shadow: 0 8px 6px -6px #ccc; box-shadow: 0 8px 6px -6px #ccc; }
.dash-box{float:left; background:#f4f7f8; position:relative; width:96%; margin:25px; box-sizing:border-box;}
.dash-left{float:left; width:175px; position:absolute; left:0; top:0}
.total-quotes{width:100%; float:left; background:#07adf0; border-radius:5px; text-align:center; padding:60px 0;}
.total-quotes h3{color:#fff; font:58px/60px 'MyriadProRegular';}
.total-quotes p{ text-transform:uppercase; color:#fff; font:13px/18px 'MyriadPro-Bold';}
.dash-right{float:right; width:100%; padding-left:190px;}
.dash-right ul{float:left; list-style-type:none; display:block; width:100%;}
.dash-right ul li:nth-child(7n){margin-right:2px; float:right;}
.dash-right ul li{width:12.7%; height:92px; float:left; background:#ffffff; padding:15px 10px; margin-bottom:15px; margin-right:1.8%; border:1px solid #e6e8e8; border-radius:5px; text-align:center; background:#fff url(../images/dash-arrow.png) 94% 70px no-repeat; }
.dash-right ul li h4{ color:#686868; font:40px/40px 'MyriadProRegular';}
.dash-right ul li h4 span{ display:block; color:#abb2b8; font:12px/12px 'MyriadProRegular'; text-transform:uppercase;}
.form-section{background:#f4f7f8; float:left; width:100%;}
.data-table-dash #quote-web-table{ border-radius:5px; border:1px solid #dfe0e2;}
.data-table-dash table.dataTable thead th, .data-table-dash table.dataTable thead td, .data-table-dash table.dataTable tbody td{border:none !important;border-bottom:1px solid #dfe0e2 !important; }
.data-table-dash table.dataTable thead th{color:#686868; font: 12px/16px "MyriadPro-Bold";
    padding: 3px; text-align:left; vertical-align: middle;height:37px;}
.popover-content .glyphicon{display:none !important;}
.data-table-dash table.dataTable thead td, .data-table-dash table.dataTable tbody td{color:#686868; font:12px/20px 'MyriadProRegular'; text-align:left; padding:4px; }
.data-table-dash table.dataTable tbody td:first-child{padding-left: 8px;}
.data-table-dash table.dataTable tbody td.numeric {
    text-align: center;
}
.data-table-dash table.dataTable tbody td.manage-right {
    text-align: right;
}
.data-table-dash table.dataTable thead th.numeric{ text-align: center;}
#quote-web-table_length option {padding-left: 8px;font: 13px/16px "MyriadProRegular";}
.dltandcreate{width:100%; float:left; margin-bottom:10px;}
.dltandcreate a.dlt-icon{background:#fff; border:1px solid #dfe0e2; border-radius:5px; padding:9px 11px; float:left}
.dltandcreate a.create-icon{ float:right; padding:10px 25px; color:#fff; border-radius:3px; cursor: pointer; background:#07adf0; border:1px solid #07adf0; font: 13px/13px 'MyriadPro-Bold';}
.btn.btn-xs.btn-info{ background:none; border:none; cursor:pointer;}
.btn.btn-xs.btn-info > img { vertical-align: middle;}
.btn.btn-xs.btn-danger{background:none; border:none; cursor:pointer;}
.btn.btn-xs.btn-danger > img{ vertical-align:middle;}
.search-main{ width:55%; float:right;}
.print{ width:20%; float:left; font:13px/12px 'MyriadProRegular';}
.create_quote{background: #0056b8 none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    float: right;
    font: 13px/30px "MyriadPro-Bold";
    margin: 10px ;
    padding: 2px 10px; cursor:pointer;}
.quote-search {margin-left:9%; padding:10px 20px; border-radius:3px; border:1px solid #dfe0e2; background:none; float:left; width:57%; position:relative; margin-top:10px;}
.search-main  input { background:url(../images/search.png) no-repeat 90% 10px; display:inline-block; font:12px/12px 'MyriadProRegular';}
.btn btn-xs btn-info{ padding-top:20px; width:20%;}
.view_detail{ background:#0056b8;font:11px/11px 'MyriadProRegular'; color:#fff; padding:5px 10px; display:inline-block; border-radius:3px; }
.edit_detail{ background:#225858;font:11px/11px 'MyriadPro-Bold'; color:#fff; padding:5px 15px; margin-right:2px; display:inline-block; border-radius:3px; cursor:pointer; }
.add_activity{ background:#5735E3;font:11px/11px 'MyriadPro-Bold'; color:#fff; margin-right:3px; padding:5px 15px; display:inline-block; border-radius:3px; }
.contact-card{ background:#1ca324 ;font:11px/11px 'MyriadPro-Bold'; color:#fff; margin-right:3px; padding:5px 13px; display:inline-block; border-radius:3px; }
.make-clone{ background:#1ca324 ;font:11px/11px 'MyriadPro-Bold'; color:#fff; margin-right:3px; margin-left:2px; padding:5px 15px; display:inline-block; border-radius:3px; }
.manage_instructions{ background:#9451b8;font:11px/11px 'MyriadPro-Bold'; color:#fff; margin-right:3px; margin-left:3px; padding:5px 15px; display:inline-block; border-radius:3px; }

.delete_detail{ background:#f00f00;font:11px/11px 'MyriadPro-Bold'; margin-left:3px; color:#fff; padding:5px 9px; display:inline-block; border-radius:3px; }
.dataTables_length label{ display:inline-block;  font:12px/12px 'MyriadProRegular'; color:#4f555a; text-transform: capitalize; }
.dataTables_length label select{ width:50px; background:#fff; margin:0 10px; border: 1px solid #ccc;
    height: 35px !important; color: #686868; font: 13px/16px "MyriadProRegular";}
.dataTables_length{ margin-bottom:15px;}
.dataTables_filter label{display:inline-block;  font:14px/14px 'MyriadPro-Bold'; color:#4f555a; text-transform: capitalize; }
.dataTables_filter  input{ padding:0px 10px; font:13px/12px 'MyriadProRegular'; color:#686868; border:1px solid #bebfc3;height: 35px;margin-bottom: 10px; width: 237px; border-radius:3px;  margin-right: 3px;}
.text-are{ max-width: 200px !important; overflow-wrap: break-word;}
.download_bom{background:#0056b8 ;font:11px/11px 'MyriadPro-Bold'; color:#fff; padding:5px 15px; display:inline-block; border-radius:3px;}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.quote_status{background:#fff url("../images/select-arrow.png") no-repeat scroll 95% 16px ; color: #686868;
    font: 13px/12px "MyriadProRegular"; 
    -webkit-appearance: none;  -moz-appearance: none; appearance: none; width:100% !important; height:35px !important; border-radius: 3px; border: 1px solid #bebfc3; padding:0px 5px;}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 60px;
    background-color: #bdc5cc;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 130%;
    left: 130%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 55%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #bdc5cc transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
#modal-2 .md-content label{ display: block; font:13px/14px "MyriadProRegular" !important;}
#modal-2 .md-content .pop-header h2{ font:28px/28px "MyriadPro-Bold" !important; color: #0056b8  !important; padding-bottom: 10px;}
#modal-2 .md-content .pop-header span{ font:16px/16px "MyriadProRegular" !important; color: #4b4c58 !important;}

#modal-2 .md-content .first{ width:100%; margin-right: 0px; padding: 0 3px; }
#modal-2 .md-content .select-area .first{ width:50%;}
#modal-2 .md-content input{border-radius: 3px; height: 38px; font:13px/14px "MyriadProRegular" !important; border-color:#bebfc3 !important; color: #686868;}
#modal-2 .md-content input.update-quote{ color: #fff; width: 100%; font:13px/14px "MyriadPro-Bold" !important; text-transform: uppercase; border: 1px solid #0056b8  !important; border-radius: 3px;}
#modal-2 .md-content textarea{ width:100%; float:left; resize:none; border: 1px solid #dbdcdd; padding:10px; border-radius:3px; color: #767c80; font: 14px/14px "MyriadProRegular";}
#modal-2 .md-content .row{ margin-top: 4px;}
#modal-2 .md-content{ border:none; width: 500px;}
#modal-2 .md-content  .pop-main-cont{ border-radius: 4px; padding:0px 0 0px;}
#modal-2 .md-content  .pop-main-cont .pop-body{padding:7px 37px 30px; clear:both;}
#modal-2 .md-content .pop-main-cont  .pop-header .md-close { top:22px; right:4%; color: #0056b8 ; background: none; position: absolute; border:none;}
#modal-2 .md-content  .pop-main-cont .pop-header{padding:15px 40px 0px;}

#modal-1 .md-content label{ display: block; font:13px/14px "MyriadProRegular" !important;}
#modal-1 .md-content  .pop-main-cont{ border-radius: 4px; padding:0px 0 30px;}
#modal-1 .md-content  .pop-main-cont .pop-body{padding:7px 30px 30px;}
#modal-1 .md-content .pop-main-cont  .pop-header .md-close { top:22px; right:4%; color: #0056b8 ; background: none; position: absolute; border:none;}
#modal-1 .md-content  .pop-main-cont .pop-header{padding:15px 31px 10px;}
#modal-1 .md-content input{ height: 38px;border-radius: 3px; font:14px/14px "MyriadProRegular" !important; border-color:#bebfc3 !important; color: #686868;}
#modal-1 .md-content input.clone_button{ color: #fff; width: 100%; font:17px/17px "MyriadPro-Bold" !important; text-transform: uppercase;  border: 1px solid #0056b8  !important;border-radius: 3px;}
#modal-1 .md-content .pop-header h2{ font:28px/28px "MyriadPro-Bold" !important; color: #0056b8  !important; padding-bottom: 10px;}
#modal-1 .md-content .pop-header span{ font:16px/16px "MyriadProRegular" !important; color: #4b4c58 !important;}


.selectboxit-container .selectboxit { border: 1px solid #dbdcdd; border-radius: 2px; color: #bebfc3; cursor: pointer; display: block; height: 45px; margin: 0;overflow: hidden;
 padding: 8px 15px; position: relative;  text-align: left;  width: 100% !important; /*background:#f4f6f7 ;*/}
 .selectboxit-container .selectboxit:after{/*background:url(../images/select-arrow.png) right center no-repeat;*/ width:7px; height:4px; position:absolute; content:""; display:block; right:10px; top:17px;}
.selectboxit-container span, .selectboxit-container .selectboxit-options a { color: #686868;  font: 13px/22px 'MyriadProRegular'; height: 38px !important;}
.selectboxit-container .selectboxit-options { border: 1px solid #bebfc3; border-radius: 0 0 3px 3px; box-shadow: none; box-sizing: border-box; cursor: pointer; display: none;
 list-style: outside none none; margin: 0; min-width: 100% !important; max-height:250px; overflow-y:auto; padding: 0 0 0 15px; position: absolute; text-align: left; z-index: 999; background:#fff;}
.select1 {
    position: relative;
}

.dataTables_length select{background:#fff url("../images/select-arrow.png") no-repeat scroll 49px 16px !important; -webkit-appearance: none;  -moz-appearance: none; appearance: none; width:65px !important; height:35px !important; border-radius: 3px; border: 1px solid #bebfc3 !important; padding: 0px 5px;}

#quote-web-table_paginate.dataTables_paginate { padding-top: 10px;}
.data-table-dash .dataTables_wrapper .dataTables_paginate .paginate_button.previous { font:25px/25px "MyriadProRegular"; color: #4b4c58;}
.data-table-dash .dataTables_wrapper .dataTables_paginate .paginate_button.previous:hover{ background:none !important; border:1px solid transparent !important; color: #4b4c58 !important; font:25px/25px "MyriadProRegular" !important; }
span.paginate_button{font:14px/14px "MyriadProRegular"; color: #4b4c58; }
.data-table-dash .dataTables_wrapper .dataTables_paginate .paginate_button.next{font:25px/25px "MyriadProRegular"; color: #4b4c58;}
.data-table-dash .dataTables_wrapper .dataTables_paginate .paginate_button.next:hover{ background:none !important; border:1px solid transparent !important; color: #4b4c58 !important; font:25px/25px "MyriadProRegular" !important;}
.data-table-dash .dataTables_wrapper .dataTables_paginate .paginate_button.current{ padding: 3px 9px; background:#0056b8 !important; color: #fff !important; font:14px/14px "MyriadPro-Bold"; border:1px solid #0056b8  !important; }
.data-table-dash .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{ padding: 3px 9px; background:#0056b8  !important; color: #fff !important; font:14px/14px "MyriadPro-Bold"; border:1px solid #0056b8  !important; }
.data-table-dash .dataTables_wrapper .dataTables_paginate .paginate_button:hover{ padding: 3px 9px; color: #fff !important;  background:#0056b8  !important;  border:1px solid #0056b8  !important; font:14px/14px "MyriadPro-Bold";}
.data-table-dash .dataTables_wrapper .dataTables_paginate .paginate_button{ padding: 3px 9px;font:14px/14px "MyriadProRegular";  }
#quote-web-table_paginate > span {
    display: inline-block;
    margin-top: 7px;
    vertical-align: top;
}
.data-table-dash  .dataTables_wrapper .dataTables_length, .data-table-dash .dataTables_wrapper .dataTables_filter, .data-table-dash .dataTables_wrapper .dataTables_info, .data-table-dash  .dataTables_wrapper .dataTables_processing, .data-table-dash .dataTables_wrapper .dataTables_paginate{ color: #4f555a;
    display: inline-block;
    font: 12px/12px "MyriadProRegular";}

#modal-2 .md-content input:focus{ border-color: #0056b8  !important;}
#modal-1 .md-content input:focus{ border-color: #0056b8  !important;}
select:focus{ border-color: #0056b8  !important;}
.selectboxit-container .selectboxit:focus{ border-color: #0056b8  !important;}
.dataTables_wrapper .dataTables_filter input:focus{ border-color: #0056b8  !important;}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate{ color: #4f555a !important;}

.customer-loader{
    height:30px;
    position: absolute;
    width: 30px; display:none; right:-45px; top:2px;}
    .customer-loader img{height:30px;
    width:30px; }
    .data-table-dash table{ margin-bottom:8px; position:relative;}
.data-table-dash table thead tr th{color: #686868;font: 12px/16px "MyriadPro-Bold";height: 37px;padding: 3px;
    text-align: left; vertical-align: middle;}
.data-table-dash table tbody tr td{    
    color: #686868;
    font: 12px/20px "MyriadProRegular";
    padding: 4px;
    text-align: left;}
.customer-pagination-tabel { width:100%;}
.customer-pagination-tabel td{ text-align:right !important;}
.customer-pagination-tabel td a{ padding-right:10px; color: #0056b8;
    font: 16px/16px "MyriadProRegular"; position:relative; z-index:9; cursor:pointer;}
    
/* 19/08/2017 */
.search-area{ text-align:right !important;}
.search-area a{ padding-right:10px; color: #0056b8;
    font: 16px/37px "MyriadProRegular"; position:relative; z-index:9; cursor:pointer;}
    
.search-area label{float:left; padding-right:10px;color: #394347;
    font: 15px/38px "MyriadPro-Bold";}
.auto-serch { width:350px; position:relative; float:left;}
.auto-serch input{ height:34px; border:1px solid #d5d5d5; border-radius:2px;   color: #686868;
    font: 14px/20px "MyriadProRegular"; width:100%; padding:0 107px 0 12px;}
 .search-area .auto-serch .create_quote{ position:absolute; top:0; right:0; margin:0px; padding:2px 30px; font: 13px/30px "MyriadPro-Bold"; color:#fff;}
.bottom-loader{
	height:30px;
	position: absolute;
	width: 30px; display:none; right:130px; top:-2px;
}
.bottom-loader img{height:30px;
	width:30px; 
 }
  
.download-all-customer-list{
	display:none;
}
.download-all-contact-list{
	display:none;
}
.all-contact-list-page .dataTables_length{ display:none !important;}
.all-contact-list-page .dataTables_filter{display:none !important;}
.all-customer-list-page .dataTables_length{display:none !important;}
.all-customer-list-page .dataTables_filter{display:none !important;}

.update-quote-header-loader-parent{ position:relative;}
.update-quote-header-loader{height:100%;
    position: absolute;
    width: 100%; display:none; background:rgba(0, 0, 0, 0.3); z-index:99;}
    .update-quote-header-loader img.update-quote-loader-image{height:30px;
    position: absolute;
    width: 30px; left:0; right:0; top:0; bottom:0; margin:auto;}

.inventries-tooltip-text .tooltip .tooltiptext{ width:125px;padding:5px;}
.inventries-tooltip-text .tooltip .tooltiptext::after{ left:11%;}

/* View Order Page Css Start (03-10-2017) Anjali*/
.input-design input{  border: 1px solid #bebfc3; border-radius: 2px; color: #686868; font: 13px/13px "MyriadProRegular";  height: 38px; padding: 0 10px; width: 100%;}
.order-filter-button{  background: #0056b8 none repeat scroll 0 0;
    border: 1px solid #0056b8;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font: 13px/13px "MyriadProRegular";
    padding: 13px 30px; margin-top:17px;}
	
.order-show-details {margin-bottom:0px;}

.show-details-checkbox{ text-align:center; margin:auto; height:38px;}
.show-details-checkbox > input{  margin-top: 10px !important;}
.orders-filter-table{ border-bottom:1px solid #ccc; padding-bottom:5px !important;}
.summary-filter-table{ border-bottom:1px solid #ccc; padding-bottom:5px !important;width:100%;}
.pruduct-option-filter-table{ border-bottom:1px solid #ccc; padding-bottom:5px !important; width:100%}
/* View Order Page Css End */
.quote-send-sage{ position:relative; display:inline-block;}
.make-disable-sage-btn{ position:absolute; top:0px; width:100%; left:0px; height:100%; z-index: 99; background: #ccc;
    opacity: 0.4;cursor:pointer;}
.quote-update-header {
    position: relative;
    display: inline-block;
}
.make-not-clickable-sage-btn{ position:absolute; top:0px; width:100%; left:0px; height:100%; z-index: 99; cursor:pointer; background: #ccc;
    opacity: 0.4;cursor:pointer;} 
.quote-send-sage .popover{ width:130px;}
.labor-activity-rate-search-table{ border-bottom:1px solid #ccc; padding-bottom:5px !important; width:100%;}

/* Contacts Page Filter Css (16-10-2017) */
.contacts-filter-table input {
	text-transform: capitalize;
}
.customer-filter-table input {
	text-transform: capitalize;
}
.quote-filter-button{
	background: #0056b8 none repeat scroll 0 0;
	border: 1px solid #0056b8;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	font: 13px/13px "MyriadProRegular";
	padding: 11px 30px; margin-top:18px;
}
.quotes-filter-table{ border-bottom:1px solid #ccc; padding-bottom:5px !important;width:100%;}
