

#wrapper{width:100%; float:left; padding:0px; margin:0px;}

.right-bar{width:100%; position:absolute; left:0; top:65px; padding-left:220px; box-sizing:border-box;}

.form-section{float:left; width:75%;}
.order-section{float:right; width:25%;}
.top-head{width:100%; float:left; border-bottom:1px solid #e5e5e5;}
.top-head h1{display:inline-block; padding-left:30px; color:#394347; font:20px/55px 'MyriadPro-Bold'; text-transform:capitalize;}
.top-head a.print{float:right; margin-right:35px; color:#b1b7bb; font:13px/55px 'MyriadProRegular'; text-transform:uppercase;}
.top-head a.print img{vertical-align:middle; margin-right:6px;}
.form-group{width:100%; float:left; padding-bottom:14px; margin-bottom:15px; -webkit-box-shadow: 0 8px 6px -6px #ccc;  -moz-box-shadow: 0 8px 6px -6px #ccc; box-shadow: 0 8px 6px -6px #ccc; }
.form-group h2{color:#293337; font:16px/30px 'MyriadPro-Bold';}
.half{width:49%; float:left; position:relative;}
.half + .half{float:right; position:relative;}
.row{float:left; width:100%; margin-bottom:15px;}
.inner-form{width:70%; margin-left:15%; float:left; padding:40px 0;}
.inner-form .form-group .form-row label{color:#435158; font:13px/21px 'MyriadProRegular'; padding-bottom:5px; float:left; width:100%;}
.inner-form .form-group .form-row input{ width:100%; height:44px; border-radius:3px; border:1px solid #bebfc3; padding:0 10px;}
.inner-form .form-group .form-row select{ width:100%; height:44px; border-radius:3px; border:1px solid #bebfc3; padding:0 10px;}
.inner-form .form-group .form-row textarea{width:100%; height:100px; border-radius:3px; border:1px solid #bebfc3; padding:0 10px; resize:none;}

.selectboxit-container .selectboxit { border: 1px solid #bebfc3; border-radius: 3px; color: #bebfc3; cursor: pointer; display: block; height: 44px; margin: 0;overflow: hidden;
 padding: 0 0 0 15px; position: relative;  text-align: left;  width: 100% !important; background:#fff;}
 .selectboxit-container .selectboxit:after{background:url(../images/select-arrow.png) right center no-repeat; width:7px; height:4px; position:absolute; content:""; display:block; right:15px; top:22px;}
.selectboxit-container span, .selectboxit-container .selectboxit-options a { color: #bebfc3;  font: 13px/44px 'MyriadProRegular'; height: 44px !important;}
.selectboxit-container .selectboxit-options { border: 1px solid #bebfc3; border-radius: 3px; box-shadow: none; box-sizing: border-box; cursor: pointer; display: none;
 list-style: outside none none; margin: 0; min-width: 100% !important; padding: 0 0 0 15px; position: absolute; text-align: left; z-index: 999; background:#fff;}
 
.three{width:32%; float:left; margin-right:2%; position:relative}
.three:last-child{margin-right:0px;}
.three .selectboxit-container .selectboxit, .six .selectboxit-container .selectboxit, .four .selectboxit-container .selectboxit { border: 1px solid #bebfc3; border-radius: 3px; color: #bebfc3; cursor: pointer; display: block; height: 44px; margin: 0;overflow: hidden;
 padding: 0 0 0 15px; position: relative;  text-align: left;  width: 100% !important; background:#fff;}
 
 
.three .selectboxit-container span, .three .selectboxit-container .selectboxit-options a, .six .selectboxit-container span, .six .selectboxit-container .selectboxit-options a, .four .selectboxit-container span, .four .selectboxit-container .selectboxit-options a { color: #bebfc3;  font: 13px/44px 'MyriadProRegular'; height: 44px !important;}



.three .selectboxit-container .selectboxit-options, .six .selectboxit-container .selectboxit-options, .four .selectboxit-container .selectboxit-options { border: 1px solid #bebfc3; border-radius: 3px; box-shadow: none; box-sizing: border-box; cursor: pointer; display: none;
 list-style: outside none none; margin: 0; min-width: 100% !important; padding: 0 0 0 15px; position: absolute; text-align: left; z-index: 999; background:#fff;}
 
.six{ position:relative; width:58%; float:left;}
.four{position:relative; width:40%; float:right; }
.two{position:relative; width:49%; float:left; }
.two:last-child{float:right;}
.button-bottom{width:auto; margin-right:10px;}
.button-bottom:last-child{float:right;}
.save{ padding:15px 30px; color:#fff; border-radius:3px; cursor: pointer; background:#0090d3; border:1px solid #0090d3; font: 13px/13px 'MyriadProRegular';  }
.exist{padding:15px 30px; color:#0090d3; border-radius:3px; background:#fff; cursor: pointer; font: 13px/13px 'MyriadProRegular'; border:1px solid #0090d3;}
.calculate{padding:15px 0px 15px 30px; color:#0090d3; border-radius:3px; cursor: pointer; background:#fff; font: 13px/20px 'MyriadProRegular'; border:1px solid #fff;}
.calculate img{float:left; vertical-align:middle; margin-right:8px;}
.form-group:last-child{box-shadow:none;}
 @media screen and (max-width:1366px){
 
 .inner-form{width:84%; margin-left:8%; }
 }
