
	.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc; 
    height: 26px;
    padding-top: 2px;
}
.btn.btn-default.image-preview-clear {
    height: 38px;
    color: #435158;
    font: 13px/13px "MyriadProRegular";
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}
.image-preview-filename{
 color: #b1b7bb!important;
    font: 13px/13px "MyriadProRegular"!important; background: #fff!important;}
 .image-preview-input-title { color: #435158;
    font: 13px/13px "MyriadProRegular";}
    .popover-title strong{ color: #435158;
    font: 15px/13px "MyriadProRegular";}
